.cabecera
{
	position: fixed;
	top: 120px;
	width: 90%;
}
.contenedor
{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	top: 150px;
}
.caja-1
{
	position: relative;
	top: 200px;
	left: 150px;
}
.caja-2
{
	position: relative;
	top: 200px;
	left: 150px;
}
.caja-3
{
	position: relative;
	top: 200px;
	left: 150px;
}
.caja-6
{
	position: relative;
	left: 150px;
	top: 200px;
}
